.lamp {
  position: relative;
}

.lamp_stand {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;

  background-color: rgb(163, 163, 163);

  left: 300px;
  top: 20px;
}

.lamp_arm {
  position: absolute;
  width: 60px;
  height: 200px;
  background-color: rgb(46, 46, 46);

  border-radius: 20%;

  left: 400px;
  top: 100px;

  transform: rotate(60deg);
}

.lamp_head {
  position: absolute;

  width: 160px;
  height: 160px;

  border-radius: 50%;
  background-color: rgb(163, 163, 163);

  top: 50px;
  right: 50px;

  border-radius: 1px rgb(46, 46, 46);
}

.lamp_base {
  position: absolute;

  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: rgb(195, 195, 195);

  left: 200px;
  top: 100px;

  z-index: 1;
}

.lamp_base--on {
  box-shadow: -200px 170px 300px 300px rgba(242, 255, 66, 0.5);
}

.lamp_base--off {
  box-shadow: 6px 2px 1px rgb(117, 117, 117);
}

.lamp_button {
  position: absolute;

  left: 310px;
  bottom: 60px;

  width: 60px;
  height: 60px;
  border-radius: 50%;
}
